@import "_variables.scss";
@import "_mixin.scss";

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: $reg-font;
  font-size: $fs-main;
  main {
    dialog[open] {
      display: flex;
      flex-flow: nowrap column;
      padding: 1.5em;
      max-width: 100vw;
      min-height: 100vh;
      color: $ntrl-slate-grey;
      position: relative;
      h1 {
        font-size: 2.5em;
        margin: 0 0 0.8em 0;
      }
      .check img {
        width: 60px;
        height: 60px;
        margin: 8em 0 1em;
      }
      .dialog-content {
        line-height: 1.5em;
        font-size: 1.1em;
      }
      .dismiss {
        display: block;
        width: 88%;
        padding: 16px 0;
        text-align: center;
        text-decoration: none;
        background-color: $ntrl-slate-grey;
        color: $ntrl-white;
        font-weight: $fw-700;
        border-radius: 7px;
        position: absolute;
        top: 90%;
        &:hover {
          @include hoverButtons;
        }
      }
    }
  }
  .main-container {
    display: grid;
    grid-template-areas:
      "hero"
      "mainContent";
    grid-auto-flow: column;
    grid-template-rows: 40vh 60vh;
    .hero-container {
      grid-area: hero;
      width: 100%;
      height: 100%;
      background-image: url("../images/illustration-sign-up-mobile.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .main-content {
      grid-area: mainContent;
      padding: 0 1.5em;
      color: $ntrl-slate-grey;
      .main__title {
        font-size: 2.5em;
        font-family: $reg-bold;
        margin: 0.3em 0 1.5rem 0;
      }

      ul {
        list-style-type: none;
        margin: 2em 0;
        li {
          display: flex;
          flex-flow: nowrap row;
          align-items: flex-start;
          line-height: 1.5em;
          gap: 0.8em;

          margin: 0 0 0.7em 0;
        }
      }
      form {
        label,
        input,
        button {
          display: block;
        }
        label {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 0.75em;
          font-weight: bold;
          color: $ntrl-slate-grey;
          margin-bottom: 1em;
          .text-error {
            display: none;
            color: $pmy-tomato;
          }
        }
        input {
          width: 100%;
          padding: 16px;
          border-radius: 7px;
          border: 1px solid $ntrl-grey;
          margin: 0 0 1em 0;
          color: $ntrl-slate-grey;

          &::placeholder {
            font-size: 1.3em;
            color: $ntrl-grey;
          }
          &:focus {
            outline: none;
            border: 1px solid $ntrl-grey;
          }
        }
        button {
          width: 100%;
          margin-inline: auto;
          border: none;
          padding: 16px;
          font-size: 0.98em;
          border-radius: 5px;
          color: $ntrl-white;
          font-weight: $fw-700;
          background: $ntrl-slate-grey;

          &:hover {
            @include hoverButtons;
          }
        }
      }
    }
  }
}

@media (min-width: 90rem) {
  body {
    background-color: $ntrl-slate-grey;
    position: relative;
    main {
      dialog[open] {
        max-width: 30vw;
        min-height: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2.5em 3em;
        border-radius: 25px;
        color: $ntrl-slate-grey;
        position: relative;
        &::backdrop {
          background: $ntrl-slate-grey;
        }
        h1 {
          font-size: 3em;
          line-height: 1em;
          font-weight: 700;
          margin: 0 0 0.5em 0;
        }
        .check img {
          width: 60px;
          height: 60px;
          margin: 0em 0 2em;
        }
        .dialog-content {
          line-height: 1.5em;
          font-size: 1em;
        }
        .dismiss {
          width: 100%;
          position: relative;
          margin: 2em 0 0em;
        }
      }
    }
    .main-container {
      width: 60%;
      height: 55%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      grid-template-areas: "leftContent rightContent";

      grid-template-columns: 55% 45%;
      grid-template-rows: 100%;
      padding: 1.5em;

      border-radius: 25px;
      background: $ntrl-white;

      article {
        grid-area: rightContent;

        .hero-container {
          background-image: url("../images/illustration-sign-up-desktop.svg");
          background-size: cover;
          border-radius: 10px;
        }
      }
      section {
        grid-area: leftContent;
        .main-content {
          padding: 2em 2.5em;
          .main__title {
            font-size: 3.3em;
          }
          form {
            input,
            button,
            label {
              width: 95%;
            }
            input {
              margin-bottom: 1.5em;
            }
            button {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
