@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

$ff-main: "Poppins", sans-serif;
$fs-main: 1rem;
$fs-inputs: 1.8rem;

$fw-400: 400;
$fw-700: 600;
$fw-800: 800;

$pmy-purple: hsl(259, 100%, 65%);
$pmy-light-red: hsl(0, 100%, 67%);

$ntrl-white: hsl(0, 0%, 100%);
$ntrl-off-white: hsl(0, 0%, 94%);
$ntrl-light-grey: hsl(0, 0%, 86%);
$ntrl-smoke-grey: hsl(0, 1%, 44%);
$ntrl-off-black: hsl(0, 0%, 8%);
