@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$primary-font: "Poppins", sans-serif;
$primary-fontSize: 1rem;
$fontWeight-regular: 400;
$fontWeight-bold: 700;

$primary-white: white;

// Button Colors
$add-btn: #6eccaf;
$del-btn: #cd1818;

// screen
$mobile-screen: 90rem;
