@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
  /* PRIMARY */
  --clr-magenta: hsl(300, 43%, 22%);
  --clr-pink: hsl(333, 80%, 67%);

  /* NEUTRAL */
  --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
  --clr-light-grayish-magenta: hsl(300, 24%, 96%);
  --clr-white: hsl(0, 0%, 100%);

  /* Fonts */
  --fs-main: 15px;
  --ff-main: "League Spartan", sans-serif;

  --fw-regular: 400;
  --fw-semi: 500;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: var(--fs-main);

  /* TODO: background-pattern */
  background-image: url("../social-proof-section-master/social-proof-section-master/images/bg-pattern-top-desktop.svg"),
    url("../social-proof-section-master/social-proof-section-master/images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-position: top 0 left 0, bottom 0 right 0;
  background-size: 45%, 75% 85%;
}

/* *<----------------- MAIN_CONTAINER -----------------> */
.main-container {
  width: 70vw;
  margin-inline: auto;
  margin-top: 8em;
}

/* *<----------------- HEADING-----------------> */
.heading-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: row;
}

.highlight {
  font-size: 3.8em;
  font-weight: var(--fw-bold);
  color: var(--clr-magenta);
  line-height: 0.9em;

  margin-bottom: 0.5em;
}

.heading p {
  color: var(--clr-dark-grayish-magenta);
  width: 42ch;

  font-weight: var(--fw-semi);
}

/* *<----------------- RATE_CONTAINER -----------------> */
.rate {
  margin-top: 2em;
  margin-left: 5em;
}

.rate-container {
  color: var(--clr-magenta);
  background-color: var(--clr-light-grayish-magenta);
  width: 68%;

  padding: 0.8em 2em;

  font-weight: var(--fw-semi);
  font-size: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.rate-container img {
  margin: 0 0.1em;
}

.rate-container h2 {
  font-size: 1.125em;
  margin-left: 1em;
}

.rate-container img,
.rate-container div,
.rate-container h2 {
  display: inline-block !important;
}

._1st-rate-container {
  margin-left: 5em;
}

._2nd-rate-container {
  margin-left: 10em;
}

._3rd-rate-container {
  margin-left: 15em;
}

/* *<----------------- PROFILE_CONTAINER -----------------> */
.profile-container {
  display: flex;
  flex-flow: nowrap row;
  gap: 2em;
  color: white;

  margin-top: 4em;
  margin-bottom: 5em;
}

.verified {
  color: var(--clr-pink);
}

.profile__box {
  background-color: var(--clr-magenta);
  align-self: self-start;
  border-radius: 0.5em;
}

.profile-container img {
  width: 2.8em;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  align-items: center;

  margin: 2em;
}

.profile__title {
  line-height: 1.3;
  margin-left: 1em;
}
.profile-container span {
  display: block;
}

.name {
  font-weight: var(--fw-bold);
}

.profile__comments {
  margin: 2em;
  font-weight: var(--fw-semi);
  text-align: justify;
}

.profile__box:nth-child(2) {
  margin-top: 2em;
}
.profile__box:nth-child(3) {
  margin-top: 4em;
}

/* * 75REM */
@media screen and (max-width: 75rem) {
  body {
    background-image: url("../social-proof-section-master/social-proof-section-master/images/bg-pattern-top-mobile.svg"),
      url("../social-proof-section-master/social-proof-section-master/images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat;
    background-position: top 0 left 0, bottom 0 right 0;
    background-size: 80vw 50vh, 100vw 50vw;
  }

  .main-container {
    width: 80vw;
  }

  .heading-container {
    grid-template-columns: none;
  }

  .rate {
    margin: 1em 0 1em;
  }

  .rate-container {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0.5em 0;
  }
}

/* * 42 REM  */
@media screen and (max-width: 42rem) {
  .main-container {
    width: 90%;
    margin-inline: auto;
  }

  .heading-container {
    text-align: center !important;
  }

  .highlight {
    width: 15ch;
    margin-inline: auto;
  }

  .heading p {
    width: 32ch;
    margin-inline: auto;
  }

  .rate {
    width: 100%;

    margin: 0;
  }

  .rate-container {
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
  }

  .profile-container {
    flex-flow: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }

  .profile__box {
    margin-top: 0 !important;
  }
}

/* * 35 REM / 375PX */
@media screen and (max-width: 35.625rem) {
  body {
    background-size: 105% 50vh, 100vw 50vw;
  }

  .highlight {
    font-size: 2.5em;
    width: 13ch;
  }

  .main-container {
    width: 100%;

    padding: 0 1em;
  }
  .rate {
    width: 100%;

    margin: 1em 0 0;
  }

  .rate-container {
    margin-bottom: 1em;
  }

  .profile-container {
    margin: 1em 0 5em;
  }
}
